.constructiform .active {
	outline: 1px dotted red;
}

.constructiform .choices label {
	margin-left: 0;
	padding-left: 0;
}

/* export html */
pre {
	font-size: 11px;
	padding: 1em;
	border: inset 2px #ccc;
	background: #ccc;
}

#toolbox {
	/*position: absolute;*/
	/*position: fixed;*/
	/*right: 0;*/
	/*top: 0;*/
	padding: .3em;
	/*width: 20%;*/
	/*background: #EFE;*/
	/*color: #060;*/
	/*z-index: 9999;*/
	font: Menu;
	/*max-height: 100%;*/
	overflow: hidden;
}
#toolbox input,
#toolbox textarea {
	max-width: 100%;
}
.lofi #toggle button {
	color: #ccc !important;
	font-weight: normal;
}

.editinplace {
	position: static !important;
	font: inherit !important;
	border: none !important;
	padding: 0 !important;
	background: #FFE !important;
	outline: 1px indent #663 !important;
	width: 100% !important;
}

/* export html */
#export-html {
	height: 50em;
	width: 50em;
	max-height: 100%;
	max-width: 100%;
	font: 100%/1.3 monospace !important;
	border: none;
	white-space: nowrap;
}

/*Stretch the draggable area of collapsed field sets (radio buttons) to that the whole horizontal area is draggable*/
ul.choices.compact,
ol.questions.compact {
    display: inline-block;
    width: 100%;
}

.lofi li:focus {
	outline: 3px dashed rgba( 0, 0, 255, .5 );
	outline-color: rgba( 0, 0, 255, .5 ) !important;
}